<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{website}}: {{title}}</title>
    <meta name="description" content="">
    <meta name="author" content="{{author}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- see https://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <link rel="stylesheet" href="{{lib}}/Skeleton-2.0.4/css/normalize-7.0.0.min.css">
    <link rel="stylesheet" href="{{lib}}/Skeleton-2.0.4/css/skeleton.css">
    <link rel="stylesheet" href="{{lib}}/css/styles.css">
</head>